<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="{% static 'assets/logo.jfif' %}" type="image/x-icon">
<title>{% block title %}{% endblock title %} || ShopNet Business</title>
  <style type="text/css">
    .bs-example {
      margin: 0px;

    }

    .navbar-brand {
      font-size: 20px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding: 90px 15px;

    }
   p {
     text-align: center;
   }
  </style>
</head>

<body>
  <div class="bs-example">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top rounded-bottom" style="background:#c00101;">
      <a href="/" class="navbar-brand"><img src="{% static 'assets/logo.jfif' %}" width="35" alt=""></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
          <a href="/business-profile" class="nav-item nav-link">Profile</a>
          <a href="/business-view-booking" class="nav-item nav-link">Orders</a>
          <a href="/business-products" class="nav-item nav-link">My Products</a>
          <!-- <a href="/view-feedback" class="nav-item nav-link">Feedback</a> -->
        </div>

        <div class="navbar-nav navbar-right">
          <a href="/logout" class="nav-item nav-link">LOGOUT</a>
        </div>

      </div>
    </nav>
  </div>

  <!-- content start-->
  {% block content %}

  {% endblock content %}
  <!-- content end-->  
</body>
</html>
