{% include 'business/admin_base.html' %}
{% load static %}
{% block content %}
<style>
  .main--content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}
.header--wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}
.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.table--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #ffffff;
    border-radius: 10px;
    padding:  2rem;
    margin-bottom: 1rem;
}
.header--title{
    color:rgba(163, 3, 3, 0.811);
    align-items: center;
    gap: 1;
}
.user--info {
    display: flex;
    gap:10px;
}
.card--container{
    background: #fff8f8;
    padding:5rem;
    border-radius: 10px;
}
</style>
<title>{% block title %}My Dashboard{% endblock title %}</title>
<div class="main--content">
<div class="header--wrapper">
  <div class="header--title">
      
      <h2>My Dashboard</h2>
  </div>
  <div class="user--info">
    <a href="/business-profile">
      <img src="{% static business_pic %}" alt="profile">
    </a>
  </div>
</div>

<br>

  {%include 'business/business_dashboard_cards.html'%}
  <br><br>
  
  <hr><hr>
  <div class="table--wrapper">
    <h1 style="text-align: left; color:rgba(163, 3, 3, 0.811); padding-left: 20px;">My Orders</h1>
    <hr><hr>

    <div class="container" >
      
      <div class="panel panel-primary" style="border-color: rgb(105, 3, 3);">
      <div class="panel-heading" style="text-align:center;background-color: rgb(106, 3, 3); border-color: rgb(105, 3, 3);">
        <h6 class="panel-title">Recent Bookings</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Customer Name</th>
            <th>Customer Mobile</th>
            <th>Shipment Address</th>
            <th>Product Name</th>
            <th>Product Picture</th>
            <th>Status</th>
            
          </tr>
        </thead>
        {% for product,customer,order in data %}
        <tr>
          {% for c in customer %}
          <td> {{c.get_name}}</td>
          <td>{{c.mobile}}</td>
          <td>{{order.address}}</td>
          
          {% endfor %}
          {% for p in product %}
          <td> {{p.name}}</td>
          <td> <img src="{% static p.product_image.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
          
          {% if order.status == 'Pending'%}
          <td> <span class="label label-info">{{order.status}}</span></td>
          {% elif order.status == 'Delivered' %}
          <td> <span class="label label-success">{{order.status}}</span></td>
          {% elif order.status == 'Out for Delivery' %}
          <td> <span class="label label-warning">{{order.status}}</span></td>
          {%else%}
          <td> <span class="label label-primary">{{order.status}}</span></td>
          {%endif%}
          {% endfor %}
        </tr>
        {% endfor %}
        
        
        
      </div> 
      
      
    </table>
  </div>
    
  </div>
</div>
</div> 


{% endblock content %}
{% include "customer/footer.html" %}