<!DOCTYPE html>
{% load widget_tweaks %}
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Business Login</title>
    <link rel="icon" href="{% static 'assets/logo.jfif' %}" type="image/x-icon">
    <style media="screen">
    body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('{% static "images/picture1.jpg" %}');
    background-size: contain;
    /* background-repeat: no-repeat; */
    
}

.box {
    width: 500px;
    padding: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    backdrop-filter: blur(10px);
    transform: translateX(-50%);
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ba1a1a;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    box-shadow: aqua;
    width: 300px;
    border-color: #ef7878;
}

.box input[type="submit"],
.box input[type="button"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #cc2e2e;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover,
.box input[type="button"]:hover {
    background: #cc2e2e;
    transition: 1.25s ease-in-out;
}


    </style>
  </head>
  <body>
    
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box" method="post">
                    {% csrf_token %}
                    <h1>Business Login</h1>
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            <p class="text-muted" style="color: #370707; background-color: #7d4444;"> {{message}} </p>
                        </div>
                    {% endfor %}
                    <p class="text-muted" style="color: #7d4444;"> Please enter your login and password!</p>

                     {% render_field form.username class="form-control" placeholder="Username" %}
                     {% render_field form.password class="form-control" placeholder="Password" %}

                     <input type="submit" name="" value="Login">
                     <h6 style="color: #fff;">Forgot password? <a href="/business-password-reset" style="color: #ff0000;">Click Here</a></h6>
                     <hr style="background-color: #740505ab; border: 0; height: 1px; margin: 80px 0 40px;">
                     <p class="text-muted" style="color: #7d4444;"> Don't have an account?</p>
                     <a href="/business-signup"><input type="button" name="" value="Sign Up" ></a>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>

  </body>
</html>
