
{% load static %}

<head>
    <link rel="icon" href="{% static 'assets/logo.jfif' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
body {
    background-color: #f9f9fa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    /* margin-bottom: 30px; */
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
        /* background: -webkit-gradient(linear, left top, right top, from(#000000), to(#8a0015)); */
    background: linear-gradient(to right, #800303, #e35c2b);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.image-radius {
    border-radius: 50%;
    height: 400px;
    width: 420px;
}


 
h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
    font-size: 14px;
}
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

</style>  
<body>    
  <div class="page-content page-container" id="page-content">
    <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-6 col-md-12">
                    <div class="card user-card-full" style="display: flexbox;">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                              <div class="card-block text-center text-white" style="text-align: center;">
                                    <div class="m-b-3">
                                        <img src="{% static business.business_pic.url %}" class="image-radius" alt="User-Profile-Image">
                                    </div>
                                    <h1 class="f-w-600" style="color: #ffffff; text-align: center;">{{request.user}}</h1>
                                    <p></p>
                                    <a href="/business-edit-profile" style="color: #ffffff; text-align: center;"><h6>Edit Profile</h6><i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16" style="color: #ffffff;"></i></a>
                                  </div>
                                </div>
                              <div class="col-sm-8">
                                <div class="card-block">
                                  <h6 class="m-b-10 p-b-5 b-b-default f-w-600">Business Information</h6>
                                  <div class="row">
                                      <div class="col-sm-10">
                                          <p class="m-b-10 f-w-600">Business Address</p>
                                      <h6 class=" f-w-400" style="color: #800303;">{{business.address}}</h6>
                                    </div><br><br><br><br>
                                    <div class="col-sm-10">
                                      <p class="m-b-10 f-w-600">Business Phone</p>
                                      <h6 class=" f-w-400" style="color: #800303;">{{business.mobile}}</h6>
                                    </div>
                                    <div class="col-sm-10">
                                        <p class="m-b-10 f-w-600">Business Email</p>
                                        <h6 class=" f-w-400" style="color: #800303;">{{request.user.email}}</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Personal Information</h6>
                                <div class="row">
                                        <div class="col-sm-10">
                                          <p class="m-b-10 f-w-600">First Name</p>
                                          <h6 class=" f-w-400" style="color: #800303;">{{request.user.first_name}}</h6>
                                        </div><br><br><br><br>
                                        <div class="col-sm-10">
                                          <p class="m-b-10 f-w-600">Last Name</p>
                                          <h6 class=" f-w-400" style="color: #800303;">{{request.user.last_name}}</h6>
                                        </div><br><br><br><br>
                                
                                    </div>
                                    <ul class="social-link list-unstyled m-t-40 m-b-10">
                                        <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="facebook" data-abc="true"><i class="mdi mdi-facebook feather icon-facebook facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="twitter" data-abc="true"><i class="mdi mdi-twitter feather icon-twitter twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram" data-abc="true"><i class="mdi mdi-instagram feather icon-instagram instagram" aria-hidden="true"></i></a></li>
                                      </ul>
                                    </div>
                                    <a href="/business-dashboard" style="color: #580404;"><i class=" mdi mdi-arrow-left-bold-circle-outline feather icon-edit m-t-10 f-16" style="color: #580404;"><h6>Back to Dashboard</h6></i></a>
                                  </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    </div>
  </body>
  {% include "customer/footer.html" %}
