{% extends 'business/admin_base.html' %}
{% load widget_tweaks %}
{% block content %}

<head>
  <style media="screen">
    body {
      background-color:#ffffff;
    }
    a:link {
      text-decoration: none;
    }

    .note {
      text-align: center;
      height: 80px;
      background: -webkit-linear-gradient(45deg, #770202, #f10707);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    .form-content {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
    }

    .form-control {
      border-radius: 1.5rem;
    }

    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 1%;
      width: 20%;
      cursor: pointer;
      background: #560000;
      color: #fff;
    }

    .menu{
      top: 50px;
    }
  </style>


</head>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p>EDIT BUSINESS PROFILE</p>
      </div>
      <div class="form-content">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {% render_field businessuserForm.first_name class="form-control" placeholder="First Name" %}
            </div>
            <div class="form-group">
              {% render_field businessuserForm.username class="form-control" placeholder="Username" %}
            </div>
            <div class="form-group">
              {% render_field businessForm.mobile class="form-control" placeholder="Mobile" %}
            </div>
            <div class="form-group">
              {% render_field businessForm.business_pic class="form-control" placeholder="Business Logo" %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {% render_field businessuserForm.last_name class="form-control" placeholder="Last Name" %}
            </div>
            <div class="form-group">
              {% render_field businessuserForm.email class="form-control" placeholder="Email" %}
            </div>
            <div class="form-group">
              {% render_field businessuserForm.password class="form-control" placeholder="Password" %}
            </div>
            <div class="form-group">
              {% render_field businessForm.address class="form-control" placeholder="Address" %}
            </div>

          </div>
        </div>
        <button type="submit" class="btnSubmit">Edit</button>
      </div>
    </div>
  </div>
</form>
<br><br><br><br><br><br>

{% endblock content %}
