*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}


.container{
    width: 100%;
    /* height: 80vh; */
    background-image: url(picture1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(5px) saturate(25%);
    padding: 50px 60px 70px;
    text-align: center;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color:#a10c0c;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #a40404;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}



.input-field{
    background: #723232;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: all 0.5s;
    overflow: hidden;
}
select,
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 15px 15px;
}
.input-field i{
    margin-left: 15px;
    color: #999;
}
form {
    display: flex;
    flex-direction: column;
    gap:70px;
}
form p{
    text-align: left;
    font-size: 13px;
    color: #fff;
}
form p a{
    margin-left: 10px;
    text-decoration: none;
    color: #a40808;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis: 48%;
    background: #b00505;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group{
    height: 280px;
}

.btn-field button.disable{
    background: #eaeaea;
    color: #555;

}
.register-group button{
    padding: 9px 20px;
    margin: 10px;
    cursor: pointer;
    background: #dfdcdcb1;
    border:none;
    border-radius: 5px;
    transition: all 0.2s linear;
}
.register-group button:hover {
    transform: scale(1.05);
}
.business-container{
    width: 100%;
    height: 100vh;
    background-image: url(picture1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.business-form-box{
    max-width: 900px;
    border: 1px solid #ccc;
    border-radius: 5px;
    backdrop-filter: blur(5px) saturate(25%);
    padding: 70px;
    position:relative;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.business-form-box h1{
    font-size: 30px;
    margin-bottom: 10px;
    color:#a10c0c;
    position: relative;
}
.business-form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.btn-submit{
    display: flex;
    justify-content: right;
}
.btn-submit button {
    padding: 5px 15px;
    cursor: pointer;
    background: #b8b5b5b1;
    border:none;
    border-radius: 5px;
    transition: all 0.2s linear;
}
.btn-submit button:hover {
    transform: scale(1.05);
}
.file {
    position:relative;
}
.business-container input[type="file"]::after {
    position:absolute;
    content: "Company Logo";
    font-size: 14px;
    right:10px;
}
.btn-submit{
    display: block;
    margin-top:40px;
    display: flex;
    justify-content: right;
}



















