<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="{% static 'assets/logo.jfif' %}" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>About ShopNet || ShopNet</title>

  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color: #fef7f7;">
    {% include "customer/navbar.html" %}
  <br><br><br>
<h1 style="text-align: center;">About ShopNet</h1>
<h3 style="text-align:center;">ShopNet is a concept app that started as a class group project. It has since grown to a multinational web app, attracting thousands of business and customers to showcase and purchase products</h3>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "customer/footer.html" %}
</body>

</html>
