{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'assets/logo.jfif' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review page</title>
    <!-- <link rel="stylesheet" href="faq.css"> -->
<style>
    body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('{% static "images/reviews2.jpg" %}');
    backdrop-filter: saturate(30%);
    background-size: cover;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.reviewer-info img{
    width: 100px;
    height: 100px;
    border-radius: 90%;
    margin-right: 10px;
}

.review{
    border: 0.5px solid rgba(250, 138, 138, 0.094);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.448) inset(0,0,0,0.1);
}

.review-content{
    margin-top: 10px;
}

.rating{
    font-weight: bolder;
    color:rgb(188, 14, 14);
}


.review-form-container {
    margin-top: 20px;
    padding: 20px;
    color: #fff;
    width: fit-content;
    position: relative;
    backdrop-filter: blur(10px);
    left: 50%;
    transform: translateX(-50%);
    border:2px solid #a0454565;
    border-radius: 10px;
}

/* Form fields */
.review-form-container input[type="text"],
.review-form-container input[type="email"],
.review-form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

/* Submit button */
.review-form-container button[type="submit"] {
    background-color: #af4c4c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.review-form-container button[type="submit"]:hover {
    background-color: #45a07d;
    transition: 0.9s;
}

/* Optional: Styling for form labels */
.review-form-container label {
    font-weight: bold;
}

</style>
</head>
<body>
    <div class="container">
        <h1 style="color: #ccc;">{{ product.name }}</h1>
        {% if product.reviews.all %}
        <h2 style="color: #ccc;">Reviews</h2>
        {% for review in product.reviews.all %}
        <div class="review">
            <div class="reviewer-info">
                <!-- <img src="avatar.jpg" alt="Reviewer 1"> -->
                <strong><h3>{{ review.reviewer_name }}</h3></strong> 
            </div>
            <div class="review-content">
                
                <p>{{ review.review_text }}</p>
                <div class="rating">Rating: <strong>{{ review.rating }}</strong>/5</div>
            </div>
        </div>
        {% endfor %}
        {% else %}
          <p>No reviews yet.</p>
        {% endif %}
        
    </div>
    <div  class="review-form-container">
        <h2>Add a Review</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit">Submit Review</button>
        </form>
    </div>
    <br><br>
</body>
</html>