{% extends "customer/navbar.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopNet || {{ business.businessname }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/041ce3762b.js" crossorigin="anonymous"></script>

</head>
<style>
    *{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
</style>
{% block content %}
  
<body style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
    
    <br><br>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>Category</header>
        <ul>
            {% for category in categories %}
            <li><a href="{% url 'category' category.title %}"><i></i>{{ category.title }}</a></li>
            {% endfor %}
    </ul>
</div>

<div class="product-slider">
    <!-- <h2 style="font-weight: 900; padding-left: 40pc;">{{ business.businessname }}</h2> -->
    <div style="display:inline-flex;">

        <div>
            <img src="{% static business.business_pic.url %}" height="420px" alt="Business Logo">
        </div>
        <div>
            <h1 style="font-weight: 900; padding-left: 5pc; font-size: 90px; color: #580404;">{{ business.user.username }}</h1><br>
            <h1 style="font-weight: 500; padding-left: 15pc; font-size: 40px; color: #580404;">Contact Details</h1>
            <p style="font-weight: 900; padding-left: 20pc;font-size: 1.5pc;">Mobile: <span style="color: rgb(30, 126, 1); font-weight: bolder; padding-left: 40px;">{{ business.mobile }}</span></p>
            <p style="font-weight: 900; padding-left: 20pc;font-size: 1.5pc;">Address: <span style="color: rgb(30, 126, 1); font-weight: bolder; padding-left: 40px;">{{ business.address }}</span></p>
            <p style="font-weight: 900; padding-left: 20pc;font-size: 1.5pc;">Email: <span style="color: rgb(30, 126, 1); font-weight: bolder; padding-left: 40px;">{{ business.user.email }}</span></p>
        </div>
    </div>
<br><br><br>
    <h2>Products by {{ business.user.username }}</h2>
    <div class="products">
        {% for product in products %}
        <div>
            <a href="{% url 'product-detail' product.id  %}">
            <img src="{%static product.product_image.url %}" alt="pic">
            <h2>{{ product.name }}</h2>
            <div class="text">
                <p>Shs.{{ product.price }}</p>
                <a href="{% url 'add-to-cart' product.id  %}"><img src="{% static 'assets/cart_icon.png' %}"></a>
            </a>
            </div>
        </div>
            {% endfor %}
        </div>
    </div>

<script src="{% static 'css/script.js' %}"></script>
</body>
</html>

{% include "customer/footer.html" %}


{% endblock content %}