{% comment %}
{% extends 'customer/navbar.html' %}
{% endcomment %}
{% load static %}
{% block content %}
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link rel="icon" href="{% static 'assets/logo.jfif' %}" type="image/x-icon">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style media="screen">
  .button {
  display: inline-block;
  border-radius: 4px;
  background-color: #b10404;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #ba0000;
}

.button2:hover {
  background-color: #ba0000;
  color: white;
}

</style>
</head>
<br><br><br><br>

<div class="container" >
  <div class="panel panel-primary" style="border-color:#b10404 ;">
    <div class="panel-heading" style="background-color: #b10404; border-color: #ba0000;">
      <h6 class="panel-title" style="text-align:center;">My Cart</h6>
    </div>
    <table class="table table-hover" id="dev-table" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Description</th>
          <th>Remove From Cart</th>

        </tr>
      </thead>
      {% for p in products %}
  {% if p %}

      <tr>
        <td> {{p.name}}</td>
        <td> <img src="{% static p.product_image.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{p.price}}</td>
        <td>{{p.description}}</td>

        <td><a class="btn btn-danger btn-xs" href="{% url 'remove-from-cart' p.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>

      </tr>
      {%else%}
      <br><br><br>
      <h1>No products</h1>
      {% endif %}
      {% endfor %}
    </table>
  </div>
</div>
<br><br><br>
<div style="text-align: center;">
  <a href="/" style="color: #580404;"><i class=" mdi mdi-arrow-left-bold-circle-outline feather icon-edit m-t-10 f-16" style="color: #580404;"><h6>Back to Home</h6></i></a>
  <button class="button button2" style="font-weight: bold;">Total: shs. {{total}}</button>
  <a href="/customer-address"><button class="button" ><span>Proceed to checkout </span></button></a>
</div>


<br><br><br><br><br>

{% endblock content %}
{% include "customer/footer.html" %}