{% extends "customer/navbar.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopNet</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/041ce3762b.js" crossorigin="anonymous"></script>

</head>
<style>
    *{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
</style>
{% block content %}
  
<body style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
    
    <br><br>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>Category</header>
        <ul>
            {% for category in categories %}
            <li><a href="{% url 'category' category.title %}"><i></i>{{ category.title }}</a></li>
            {% endfor %}
    </ul>
</div>

<div class="product-slider">
    <h2>These matched your search.....</h2>
    <div class="products">
        {% for product in products %}
        <div>
            <a href="{% url 'product-detail' product.id  %}">
            <img src="{%static product.product_image.url %}" alt="pic">
            <h2>{{ product.name }}</h2>
            <div class="text">
                <p>Shs.{{ product.price }}</p>
                <a href="{% url 'add-to-cart' product.id  %}"><img src="{% static 'assets/cart_icon.png' %}"></a>
            </div>
        </a>
        </div>
            {% endfor %}
        </div>
    </div>
    
    <h2>Other Categories</h2>
<div class="box-row">
    {% for category in categories %}
            <div class="box-col">
                <h3>{{ category.title }}</h3>
                <img src="{%static category.category_pic.url %}" alt="{{ category.title }}">
                <a href="{% url 'category' category.title %}">Check it out</a>
            </div>
    {% endfor %}
</div>

<script src="{% static 'css/script.js' %}"></script>
</body>
</html>

{% include "customer/footer.html" %}


{% endblock content %}