<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{% static 'assets/logo.jfif' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Contact Us || ShopNet</title>


</head>

<body style="background-color: rgb(255, 237, 237);">




  <center>
    <h3 class='alert alert-error'>Send Us Your Valuable Feedback To the ShopNet team!</h3>
<br><br><br>
<form method="POST">
  <!-- Very Important csrf Token -->
  {% csrf_token %}
  <div class="form-group">
    <p>
      <h3>{{ form.as_p }}</h3>
      <br><br><br>
        </p>
        <br>
        <input type="submit" value="Send Message" class='btn btn-danger btn-lg'>
      </div>
    </form>
    <a href="/" style="color: #580404;"><i class=" mdi mdi-arrow-left-bold-circle-outline feather icon-edit m-t-10 f-16" style="color: #580404;"><h6>Back to Home</h6></i></a>
  </center>
  {% include "customer/footer.html" %}
</body>


</html>
