<!DOCTYPE html>
{% load widget_tweaks %}
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Customer SignUp</title>
    <link rel="icon" href="{% static 'assets/logo.jfif' %}" type="image/x-icon">

    <style media="screen">
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: linear-gradient(to right, #c2342f, #ffbcbc); */
    background-image: url('{% static "images/picture1.jpg" %}');
    background-size: contain;
    /* background-repeat: no-repeat; */
    
}

.box {
    width: 500px;
    padding: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    backdrop-filter: blur(10px);
    transform: translateX(-50%);
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"],
.box input[type="email"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ba1a1a;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="email"]:focus,
.box input[type="password"]:focus {
    box-shadow: aqua;
    width: 300px;
    border-color: #ef7878;
}

.box input[type="file"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s;
}

.box input[type="file"]:hover,
.box input[type="file"]:focus{
    border-color: #e96666;
}


.box input[type="submit"],
.box input[type="button"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #cc2e2e;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}


.box input[type="submit"]:hover ,
.box input[type="button"]:hover {
    background: #cc2e2e;
    transition: 1.0s ease-in-out;
}

.business-redirect{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #cc2e2e;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}
#profile-pic {
    display: none;
}

.custom-file-upload {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ba1a1a;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: rgba(255, 255, 255, 0.447);
    font-weight: 100;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.custom-file-upload:hover {
    background: #cc2e2e;
    transition: 1.0s ease-in-out;
    color: #ffffff;
    }
.custom-file-upload:focus {
width: 300px;
}
    </style>
  </head>
  <body>
    
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                    <h1>CUSTOMER SIGNUP</h1>
                    {% if messages %}
                        <ul>
                        {% for error in messages %}
                            <p class="text-muted" style="color: #7d4444;"> {{ error }}</p>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <p class="text-muted" style="color: #7d4444;"> Please enter your details to create account !</p>
                      {% render_field userForm.first_name class="form-control" placeholder="First Name" %}
                        {% render_field userForm.last_name class="form-control" placeholder="Last Name" %}
                          {% render_field userForm.username class="form-control" placeholder="Username" %}
                          {% render_field userForm.email class="form-control" placeholder="Email" %}
                            {% render_field userForm.password class="form-control" placeholder="Password" %}
                            {% render_field userForm.password_confirm class="form-control" placeholder="Confirm Password" %}
                              {% render_field customerForm.address class="form-control" placeholder="Address" %}
                                {% render_field customerForm.mobile class="form-control" placeholder="Mobile" %}
                                  {% render_field customerForm.profile_pic class="form-control" id="profile-pic" %}
                  
                     <input type="submit" name="" value="Sign Up">

                </form>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const fileInput = document.getElementById('profile-pic');
    const label = document.createElement('span');
    label.className = 'custom-file-upload';
    label.textContent = 'Choose Profile Picture';
    label.addEventListener('click', function() {
        fileInput.click(); // Trigger the click event on the file input
    });
    fileInput.parentNode.insertBefore(label, fileInput);
    fileInput.addEventListener('change', function() {
        const fileName = this.value.split('\\').pop();
        label.textContent = fileName ? fileName : 'Choose Profile Picture';
    });
});
    </script>
  </body>
</html>
