
<!DOCTYPE html>
{% load widget_tweaks %}
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="=width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"> -->
    <!-- jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
    <!-- <link rel="stylesheet" href="{% static 'css/styles2.css' %}"> -->
    <script src="https://kit.fontawesome.com/041ce3762b.js" crossorigin="anonymous"></script>
    <title>Customer Login || ShopNet</title>
<style media="screen">
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: linear-gradient(to right, #c2342f, #ffbcbc); */
    background-image: url('{% static "images/picture1.jpg" %}');
    /* backdrop-filter: saturate(10%); */
    background-size: contain;
    /* background-repeat: no-repeat; */
    
}

.box {
    width: 500px;
    padding: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    backdrop-filter: blur(10px);
    transform: translateX(-50%);
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ba1a1a;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    box-shadow: aqua;
    width: 300px;
    border-color: #ef7878;
}

.box input[type="submit"],
.box input[type="button"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #cc2e2e;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}
.business-redirect{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #cc2e2e;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}


.box input[type="submit"]:hover ,
.box input[type="button"]:hover {
    background: #cc2e2e;
    transition: 1.0s ease-in-out;
}

.forgot {
    text-decoration: underline
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
    color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
    transition: all 0.8s
}

.popup {
  display: none; /* Hide the popup by default */
  position: fixed;
  z-index: 9999; /* Make sure the popup appears on top of other elements */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.popup-message {
  display: block;
  margin-bottom: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
</style>
  </head>
  <body>


      
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box" method="post">
                  {% csrf_token %}
                    <h1>Customer Login</h1>
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            <p class="text-muted" style="color: #370707; background-color: #7d4444;"> {{message}} </p>
                        </div>
                    {% endfor %}
                    
                    <p class="text-muted" style="color: #7d4444;"> Please enter your login and password!</p>
                    
                    {% render_field form.username class="form-control" placeholder="Username" %}                    
                    {% render_field form.password class="form-control" placeholder="Password" %}
                    
                       <input type="submit" name="" value="Login" >
                       
                       <h6 style="color: #fff;">Forgot password? <a href="/customer-password-reset" style="color: #ff0000;">Click Here</a></h6>
                       <hr style="background-color: #740505ab; border: 0; height: 1px; margin: 40px 0 40px;">
                       <p class="text-muted" style="color: #7d4444;"> Don't have an account?</p>
                       <a href="/customersignup"><input type="button" name="" value="Sign Up" ></a>
                    </form>
                    <div id="popup" class="popup">
                        <span class="popup-message" id="popup-message">{{messages}}</span>
                        <span class="close" onclick="closePopup()">&times;</span>
                      </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<script>
    function showPopup(message) {
  var popup = document.getElementById("popup");
  var popupMessage = document.getElementById("popup-message");
  popupMessage.innerText = message;
  popup.style.display = "block";
}

// Function to close the popup
function closePopup() {
  var popup = document.getElementById("popup");
  popup.style.display = "none";
}
</script>
</body>
</html>
