
{% load static %}
{% load widget_tweaks %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Page</title>
    <link rel="icon" href="{% static 'assets/logo.jfif' %}" type="image/x-icon">
	<script src="{% static 'css/check.js' %}"></script>
</head>
  <style type="text/css">
.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #cfcece;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #e98888;
	-webkit-box-shadow: 0 0 8px #e98888;
	box-shadow: 0 0 8px #e98888;
	border: 1px solid #e98888;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('{% static "images/checkout3.png" %}');
    background-size: cover;

    }
.form-container {
    max-width: 600px;
    backdrop-filter: blur(10px);
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ecebebb2;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    background-color: #970303;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

</style>
{%if product_in_cart%}
<body>
	
	<div class="form-container ">
		<h1 style="text-align: center;">ShopNet Checkout</h1><br><br><br>
		<form id="checkout-form" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="name"style="color: rgb(72, 0, 0);">Name</label>
				<input type="text" id="name" name="name" required>
			</div>
			<br><br>
			<div class="form-group">
				<label for="email"style="color: rgb(138, 7, 7);">Email</label>
				{% render_field addressForm.Email class="field-long" placeholder="Email" %}
			</div>
			<br><br>
			<div class="form-group"style="color: rgb(138, 7, 7);">
				<label for="address">Address</label>
				{% render_field addressForm.Address id="field5" class="field-long field-textarea" placeholder="Building Number,city, pin" %}
			</div>       
			<br><br>
			<div class="form-group">
				<label for="mobile"style="color: rgb(72, 0, 0);">Mobile Number</label>
				{% render_field addressForm.Mobile class="field-long" id="mobile" placeholder="Mobile" %}
			</div>
			<br><br>
			<input type="submit" value="Proceed To Pay" style="background: #ad4b4b;
														padding: 8px 15px 8px 15px;
														border: none;
														color: #fff;"/>
		</form>
	</div>
	<br><br><br><br><br><br><br><br><br><br>
	
	{%else%}
	<br><br>
	<h1 style="text-align:center; color:rgb(138, 7, 7);"> First Add Product In Cart </h1>
	<br><br><br><br><br><br><br><br><br><br>
{%endif%}
<script>
	document.addEventListener("DOMContentLoaded", function() {
    var paymentMethodSelect = document.getElementById("payment-method");
    var cardNumberField = document.getElementById("card-number");
    var expiryDateField = document.getElementById("expiry-date");
    var mobileNumField = document.getElementById("mobile");
    var cvvField = document.getElementById("cvv");

    // Hide all payment fields initially
    cardNumberField.style.display = "none";
    expiryDateField.style.display = "none";
    cvvField.style.display = "none";
    mobileNumField.style.display = "none";
	
    // Function to show or hide payment fields based on selected option
    function togglePaymentFields() {
        var selectedOption = paymentMethodSelect.value;
        if (selectedOption === "credit-card" || selectedOption === "paypal") {
            cardNumberField.style.display = "block";
            expiryDateField.style.display = "block";
            cvvField.style.display = "block";
			mobileNumField.style.display = "block";
        } else if (selectedOption === "mobile"){
			cardNumberField.style.display = "none";
            expiryDateField.style.display = "none";
            cvvField.style.display = "none";
			mobileNumField.style.display = "block";
        }else {
			cardNumberField.style.display = "none";
            expiryDateField.style.display = "none";
            cvvField.style.display = "none";
			mobileNumField.style.display = "none";
        }
    }

    // Listen for changes in the payment method select element
    paymentMethodSelect.addEventListener("change", togglePaymentFields);

    // Call togglePaymentFields initially to set initial state based on default option
    togglePaymentFields();
});

</script>
{% endblock content %}
{% include "customer/footer.html" %}
</body>