<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <p>Dear {{ user.first_name }},</p>
    <p>Thank you for signing up! To activate your account, please click the link below:</p>
    <p><a href="{{ verify_url }}">Activate Your Account</a></p>
    <p>If you did not sign up for an account, please ignore this email.</p>
    <p>Best regards,</p>
    <p>ShopNet Team</p>
</body>
</html>