<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frequently Asked Questions</title>
    <link rel="icon" href="{% static 'assets/logo.jfif' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
<style>
    @import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.wrapper{
    max-width: 75%;
    margin: auto;
}
.warpper > p,
.wrapper > h1{
    margin: 1.5rem 0;
    text-align: center;
}

.wrapper > h1 {
    letter-spacing: 3px;
}


.accordion{
    background-color: white;
    color: rgb(0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding:2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    font-weight: bold;
}

.accordion i{
    font-size: 1.6rem;
}

.active,
.accordion:hover{
    background-color: #f1f7f5;
}

.pannel{
    padding: 0 18px;
    background-color:white;
    /* display: none; */
    overflow: hidden;
    background-color: #f1f7f5;
    padding: 0 2rem 2.5rem 2rem;
}

.pannel p {
    color: rgb(0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}
.faq{
    border: 1px solid rgb(0, 0, 0,.0.1);
    margin: 10px 0;
}

.faq.active {
    border: none;
}
</style>
</head>
<body>
    <div class="wrapper">
        <p>The Beginning of a New Asset class</p>
        <h1>Frequently Asked Questions</h1>

        <div class="faq">
            <button class="accordion">
                What are your contact details?
                <i class=" fas fa-solid fa-chevron-down"></i>
            </button>
            <div class="pannel">
                <p>
                    Tel no;0777777777<br>
                    email;shopnet@gmail.com.ug
                </p>
            </div>
        </div>

        <div class="faq">
            <button class="accordion">
                Are there any services offered?
                <i class=" fas fa-solid fa-chevron-down"></i>
            </button>
            <div class="pannel">
                <p>
                    No there are no services that are being offered.
                </p>
            </div>
        </div>

        <div class="faq">
            <button class="accordion">
                What are you delivery options?
                <i class=" fas fa-solid fa-chevron-down"></i>
            </button>
            <div class="pannel">
                <p>
                   we work hand in hand with the team of safeboda and faras even uber to safely deliver products.
                </p>
            </div>
        </div>

        <div class="faq">
            <button class="accordion">
                How do i track my order?
                <i class=" fas fa-solid fa-chevron-down"></i>
            </button>
            <div class="pannel">
                <p>
                    using the different delivery services that can show the exact location and journey of the products.
                    
                </p>
            </div>
        </div>
        <div class="faq">
            <button class="accordion">
                What is your return policy?
                <i class=" fas fa-solid fa-chevron-down"></i>
            </button>
            <div class="pannel">
                <p>
                    Goods once sold cannot be returned unless it comes with a damage.<br>
                    We have ano refund policy.
                
                </p>
            </div>
        </div>

        <div class="faq">
            <button class="accordion">
                Can i cancel or modify my order?
                <i class=" fas fa-solid fa-chevron-down"></i>
            </button>
            <div class="pannel">
                <p>
                    If the is not yet in transit it is possible to cancelor even modify.
                    
                </p>
            </div>
        </div>
    </div>
</body>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for(i=0; i < acc.length; i++){
            acc[i].addEventListener("click",function (){
                this.classList.toggle("active");
                this.parentElement.classList.toggle("active");

                var pannel = this.nextElementSibling;
                if(pannel.style.display === "block"){
                    pannel.style.display = "none";
                }else{
                    pannel.style.display = "block";
                }
            })
        }
    </script>
</html>