<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}

    {% include "customer/navbar.html" %}
<br><br><br>
<h3 style="color:rgb(174, 14, 14);text-align:center;">Your Feedback Sent Succesfully !</h3>
<br>
<div style="text-align:center;">
  <img src="{% static 'images/success.png' %}"  style="width:100px; height:100px; ">
</div>

<br><br><br><br><br><br><br><br>
  {% include "customer/footer.html" %}

