{% load static %}
<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  


  <style>    
footer{
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background: linear-gradient(to right,#e00d0d, #390f01);
    padding: 20px 0 30px;
    font-size: 13px;
    font-weight: bolder;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    background-color:rgba(189, 9, 9, 0);
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #f53535;
    margin-right: 15px;
    cursor: pointer;
}

.hr{
    width: 90%;
    border: none;
    height: 1px;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
  </style>
</head>

<footer>
    <div class="row">
        <div class="col">
            <img src="{% static 'assets/logo.jfif' %}" class="logo"  width="100" alt="">
            <p>2024, ShopNet.com, Inc. </p>
        </div>
        <div class="col">
            <h3>Office <div class="underline"><span></span></div></h3>
            <p>Mugalu Road</p>
            <p>Kyanja, Nakawa Div.</p>
            <p> Plot 1243, Kampala,Uganda</p>
            <p class="email-id">ShopNet@outlook.com</p>
            <h4>+256780204837</h4>
        </div>
        <div class="col">
            <h3>Links <div class="underline"><span></span></div></h3></h3>
            <ul>
                <li style="color: #fff;"><a href="/" style="color: #ccc;">Home</a></li>
                <li style="color: #fff;"><a href="/business-login" style="color: #ccc;">Login As Business</a></li>
                <li style="color: #fff;"><a href="/aboutus" style="color: #ccc;">About Us</a></li>
                <li style="color: #fff;"><a href="/admin" style="color: #ccc;">Admin</a></li>
                <li style="color: #fff;"><a href="" style="color: #ccc;">Contacts</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Newsletter <div class="underline"><span></span></div></h3></h3>
            <form>
                <i class="fa-solid fa-user"></i>
                <input type="email" placeholder="Enter your email id" required>
                <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </form>
            <div class="social-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
    </div>
    <div class="hr"></div>
    <p class="copyright">ShopNet 2024 - All Rights Reserved</p>
  <br>
</footer>

</html>
