{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopNet</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/041ce3762b.js" crossorigin="anonymous"></script>

</head>
<style>
        body{
  height: 100%;
}
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .flex-centerY-centerX {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  body {
    background-color:#f5f5f5;
  }
  
  .page-wrapper {
    height: 100%;
    display: table;
  }
  
  .page-wrapper .page-inner {
    display: table-cell;
    vertical-align: middle;
  }
  
  .el-wrapper {
    width: 360px;
    padding: 15px;
    margin: 15px auto;
    background-color: #fff;
  }
  
  @media (max-width: 991px) {
    .el-wrapper {
      width: 345px;
    }
  }
  
  @media (max-width: 767px) {
    .el-wrapper {
      width: 290px;
      margin: 30px auto;
    }
  }
  
  .el-wrapper:hover .h-bg {
    left: 0px;
  }
  
  .el-wrapper:hover .price {
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #818181;
  }
  
  .el-wrapper:hover .add-to-cart {
    left: 50%;
  }
  
  .el-wrapper:hover .img {
    -webkit-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
    opacity: 0.4;
  }
  
  .el-wrapper:hover .info-inner {
    bottom: 155px;
  }
  
  .el-wrapper:hover .a-size {
    -webkit-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
    bottom: 50px;
    opacity: 1;
  }
  
  .el-wrapper .box-down {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
  }
  
  .el-wrapper .box-up {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  
  .el-wrapper .img {
    padding: 20px 0;
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
  }
  
  .h-bg {
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    width: 660px;
    height: 100%;
    background-color: #fcebe3;
    position: absolute;
    left: -659px;
  }
  
  .h-bg .h-bg-inner {
    width: 50%;
    height: 100%;
    background-color: #7a0202;
  }
  
  .info-inner {
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: 25px;
  }
  
  .info-inner .p-name,
  .info-inner .p-company {
    display: block;
  }
  
  .info-inner .p-name {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #252525;
  }
  
  .info-inner .p-company {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFE11B;
  }
  
  .a-size {
    -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: -20px;
    font-family: 'PT Sans', sans-serif;
    color: #828282;
    opacity: 0;
  }
  
  .a-size .size {
    color: #252525;
  }
  
  .cart {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }
  
  .cart .price {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #252525;
  }
  
  .cart .add-to-cart {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 110%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .cart .add-to-cart .txt {
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    white-space: nowrap;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
    </style>
  
<body>
    <nav>
        <a href="/">
            <img src="{% static 'assets/logo.jfif' %}" width="60" alt="">
        </a>
        <div class="nav-country">
            <img src="{% static 'assets/location_icon.png' %}" height="20" alt="">
            <div>
                <p>Deliver to</p>
                <h1>Uganda</h1>
            </div>
        </div>
        <div class="nav-search">
            <div class="nav-search-gategory">
                <p>All</p>
                <img src="{% static 'assets/dropdown_icon.png' %}" height="12" alt="">
            </div>
            <input type="text" class="nav-search-input" placeholder="Search Shopnet">
            <img src="{% static 'assets/search_icon.png' %}" class="nav-search-icon" alt="">
        </div>
        <div class="nav-language">
            <img src="{% static 'assets/us_flag.png' %}" width="25px" alt="">
            <p>EN</p>2
            <img src="{% static 'assets/dropdown_icon.png' %}" width="8px" alt="">
        </div>
        <div class="nav-text">
            <p>Hello, Sign in</p>
            <h1><a href="/customerlogin">Login As a Customer</a><img src="{% static 'assets/dropdown_icon.png' %}" width="8px" alt=""></h1>
        </div>
        <div class="nav-text">
            <p>Return</p>
            <h1><a href="/my-order">Orders</a></h1>
        </div>
        <a href="{% url 'cart' %}" class="nav-cart">
            <img src="{% static 'assets/cart_icon.png' %}" width="35px" alt="">
            <h4>Cart</h4>
        </a>
        
    </nav>

<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Category</header>
    <ul>
    {% for category in categories %}
        <li><a href="{% url 'category' category.title %}"><i></i>{{ category.title }}</a></li>
    {% endfor %}
    </ul>


</div>
<section></section>
<div class="header-slider">
    <a href="#" class="control_prev">&#8592</a> 
    <a href="#" class="control_next">&#8594</a>
    <ul>
        <img src="{% static 'assets/header4.jpg' %}" class="header-img" alt="">
        <img src="{% static 'assets/header3.jpg' %}" class="header-img" alt="">
        <img src="{% static 'assets/header5.jpg' %}" class="header-img" alt="">
        <img src="{% static 'assets/header6.jpg' %}" class="header-img" alt="">
    </ul>
</div>
<div class="box-row header-box">
    <div class="box-col">
        <h3>Free internatinal returns</h3>
        <img src="{% static 'assets/box1-1.jpg' %}" alt="">
        <a href="/">Shop More</a>
    </div>
    <div class="box-col">
        <h3>New Year</h3>
        <img src="{% static 'assets/box1-2.jpg' %}" alt="">
        <a href="/">Shop More</a>
    </div>
    <div class="box-col">
        <h3>Toys</h3>
        <img src="{% static 'assets/box1-3.jpg' %}" alt="">
        <a href="/">Shop More</a>
    </div>
    <div class="box-col">
        <h3>Deals in Tech</h3>
        <img src="{% static 'assets/box1-4.jpg' %}" alt="">
        <a href="/">Shop More</a>
    </div>
</div>
<div class="box-row">
    {% for product in products %}
    <div class="box-col">
        <h3>{{ product.name }}</h3>
        <img src="{%static product.product_image.url %}" alt="">
        <p>Shs.{{ product.price }}</p>
        <a href="{% url 'add-to-cart' product.id  %}">Add to Cart</a>
    </div>
    {% endfor %}    
</div>

<div class="product-slider">
    <h2>New Arrivals</h2>
    <div class="products">
    {% for product in products %}
       <div><img src="{%static product.product_image.url %}" alt="pic">
        <h2>{{ product.name }}</h2>
        <div class="text">
            <p>Shs.{{ product.price }}</p>
            <a href="{% url 'add-to-cart' product.id  %}"><img src="{% static 'assets/cart_icon.png' %}"></a>
        </div></div>
    {% endfor %}
</div>
</div>
<h2>Categories</h2>
<div class="box-row">
    {% for category in categories %}
            <div class="box-col">
                <h3>{{ category.title }}</h3>
                <img src="{% static 'assets/box3-1.jpg' %}" alt="">
                <a href="{% url 'category' category.title %}">Check it out</a>
            </div>
    {% endfor %}
</div>
<div class="products-slider-with-price">
    <h2>Discounts</h2>
    <div class="products">
        {% for product in products %}
        <div class="product-card">
            <div class="product-img-container">
                <img src="{%static product.product_image.url %}" alt="pic">
            </div>
            <div class="product-offer">
                <p>-27% </p> <span>{{ product.name }}</span>
            </div>
            <p class="product-price"><span>shs.{{ product.price }}</span></p>
        </div>
        {% endfor %}

        
    </div>
</div>
<div class="box-row">
    <div class="row">

        {% for p in products %}
        <!-- card1 -->
        <div class="column">
        <div class="container page-wrapper" style="width: 450px;">
          <div class="page-inner">
            <div class="row">
              <div class="el-wrapper">
                <div class="box-up">
                  <img class="img" src="{% static p.product_image.url %}" alt="product pic" height="300px" width="300px">
                  <div class="img-info">
                    <div class="info-inner">
                      <span style="background-color:#f97c7c00; color:rgb(37, 59, 63);" class="p-company"><a style="color: #252525;" href="{% url 'product-detail' p.id  %}">{{p.name}}</a></span>
  
                    </div>
                    <div class="a-size">{{p.description}}</div>
                  </div>
                </div>
  
                <div class="box-down">
                  <div class="h-bg">
                    <div class="h-bg-inner"></div>
                  </div>
  
                  <a class="cart" href="{% url 'add-to-cart' p.id  %}">
                    <span class="price">shs. {{p.price}}</span>
                    <span class="add-to-cart">
                      <span class="txt">Add in cart</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
  <!-- card1 end -->
  {% endfor %}
  </div>
</div>

<footer>
    <div class="row">
        <div class="col">
            <img src="{% static 'assets/logo.jfif' %}" class="logo"  width="100" alt="">
            <p>2020-2024, ShopNet.com, Inc. or its affiliates shop for 
                quality nice products and we deliver at your door step</p>
        </div>
        <div class="col">
            <h3>Office <div class="underline"><span></span></div></h3>
            <p>ITPL Road</p>
            <p>Whitefield, Bangalore</p>
            <p>Kampala, Pin 12345, Uganda</p>
            <p class="email-id">ShopNet@outlook.com</p>
            <h4>+85345790124</h4>
        </div>
        <div class="col">
            <h3>Links <div class="underline"><span></span></div></h3></h3>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Contacts</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Newsletter <div class="underline"><span></span></div></h3></h3>
            <form>
                <i class="fa-solid fa-user"></i>
                <input type="email" placeholder="Enter your email id" required>
                <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </form>
            <div class="social-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
    </div>
    <div class="hr"></div>
    <p class="copyright">ShopNet 2023 - All Right Reserved</p>
</footer>
<script src="{% static 'css/script.js' %}"></script>
</body>
</html>



