{% extends 'customer/navbar.html' %}
{% load static %}
{% block content %}
<br><br><br>
<h1 style="text-align: center; color:rgba(156, 9, 9, 0.811); padding-left: 20px;">You have logged out!!</h1>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br>

{% endblock content %}
