{% extends 'customer/navbar.html' %}
{% load static %}

{% block content %}
<style media="screen">
  @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color: #f6eded;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin-top: 0px;
    margin-bottom: 0px
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.10rem
}

.card-header:first-child {
    border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
}

.track .step.active:before {
    background: #ee5435
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.track .step.active .icon {
    background: #ee5435;
    color: #fff
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd
}

.track .step.active .text {
    font-weight: 400;
    color: #000
}

.track .text {
    display: block;
    margin-top: 7px
}

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.itemside .aside {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.img-sm {
    width: 80px;
    height: 80px;
    padding: 7px
}

ul.row,
ul.row-sm {
    list-style: none;
    padding: 0
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

.btn-warning {
    color: #ffffff;
    background-color: #ee5435;
    border-color: #ee5435;
    border-radius: 1px
}

.btn-warning:hover {
    color: #ffffff;
    background-color: #ff2b00;
    border-color: #ff2b00;
    border-radius: 1px
}

</style>
<br>
<h3 style="text-align:center;">Thank You For Your Order  <strong>{{request.user}}</strong> !</h3> <br><br>
<div class="container">
    <header class="card-header" style="text-align:center;"> My Orders / Tracking </header>

    {% for products,order in data %}

    <article class="card">
        <div class="card-body">
            <ul class="row" style="margin-left:20px;margin-top:20px;">
                <li class="col-md-4">
                  <figure class="itemside mb-3">
                    {%for product in products%}
                      <div class="aside"><img src="{% static product.product_image.url %}" class="img-sm border"></div>
                      <figcaption class="info align-self-center">

                          <p class="title"><strong>Name : </strong>{{product.name}} <br> <strong>Description : </strong>{{product.description}}</p> <span class="text-muted"><strong>Price : </strong>{{product.price}} </span>

                      </figcaption>

                  </figure>
                </li>
                <li class="col-md-4">
                    <div class="col"> <strong>Shipment Address:</strong> <br> {{order.address}}</div>
                </li>
                <li class="col-md-4">
                    <div class="col"> <strong>Status:</strong> <br> {{order.status}} </div> <br>
                    <h4><a style="text-decoration:underline; color:rgb(126, 0, 0);" href="{% url 'download-invoice' order.id product.id  %}" >Download Invoice</a></h4>
                </li>
                {%endfor%}
            </ul>
            <hr>

            <div class="track">
                {%if order.status == 'Pending' %}
                <div class="step active"> <span class="icon"> <i style="padding-top:5px; padding-right:10px;padding-left:10px;" class="fa fa-frown-o"></i> </span> <span class="text">Order Pending</span> </div>
                <div class="step "> <span class="icon"> <i style="padding-top:5px; padding-right:10px;padding-left:10px;" class="fa fa-check"></i> </span> <span class="text"> Order Confirmed</span> </div>
                <div class="step "> <span class="icon"> <i style="padding-top:5px; padding-right:10px;padding-left:10px;" class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
                <div class="step "> <span class="icon"> <i style="padding-top:5px; padding-right:10px;padding-left:10px;" class="fa fa-home"></i> </span> <span class="text">Delivered</span> </div>
                {%elif order.status == 'Order Confirmed' %}
                <div class="step active"> <span class="icon"> <i style="padding-top:5px; padding-right:10px;padding-left:10px;" class="fa fa-frown-o"></i> </span> <span class="text">Order Pending</span> </div>
                <div class="step active"> <span class="icon"> <i style="padding-top:5px; padding-right:10px;padding-left:10px;" class="fa fa-check"></i> </span> <span class="text"> Order Confirmed</span> </div>
                <div class="step "> <span class="icon"> <i style="padding-top:5px; padding-right:10px;padding-left:10px;" class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
                <div class="step "> <span class="icon"> <i style="padding-top:5px; padding-right:10px;padding-left:10px;" class="fa fa-home"></i> </span> <span class="text">Delivered</span> </div>
                {%elif order.status == 'Out for Delivery'%}
                <div class="step active"> <span class="icon"> <i style="padding-top:5px; padding-right:10px;padding-left:10px;" class="fa fa-frown-o"></i> </span> <span class="text">Order Pending</span> </div>
                <div class="step active"> <span class="icon"> <i style="padding-top:5px; padding-right:10px;padding-left:10px;" class="fa fa-check"></i> </span> <span class="text"> Order Confirmed</span> </div>
                <div class="step active"> <span class="icon"> <i style="padding-top:5px; padding-right:10px;padding-left:10px;" class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
                <div class="step "> <span class="icon"> <i style="padding-top:5px; padding-right:10px;padding-left:10px;" class="fa fa-home"></i> </span> <span class="text">Delivered</span> </div>
                {%else%}
                <div class="step active"> <span class="icon"> <i style="padding-top:5px; padding-right:10px;padding-left:10px;" class="fa fa-frown-o"></i> </span> <span class="text">Order Pending</span> </div>
                <div class="step active"> <span class="icon"> <i style="padding-top:5px; padding-right:10px;padding-left:10px;" class="fa fa-check"></i> </span> <span class="text"> Order Confirmed</span> </div>
                <div class="step active"> <span class="icon"> <i style="padding-top:5px; padding-right:10px;padding-left:10px;" class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
                <div class="step active"> <span class="icon"> <i style="padding-top:5px; padding-right:10px;padding-left:10px;" class="fa fa-home"></i> </span> <span class="text">Delivered</span> </div>
                {%endif%}
            </div>

        </div>
    </article><br>
    {%endfor%}
</div>
<br><br><br><br><br>
{% endblock content %}
