{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'assets/logo.jfif' %}" type="image/x-icon">
    <title>Review page</title>
    <!-- <link rel="stylesheet" href="faq.css"> -->
<style>
    body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background: rgb(195, 201, 203);
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.reviewer-info img{
    width: 100px;
    height: 100px;
    border-radius: 90%;
    margin-right: 10px;
}

.review{
    border: 1px solid rgb(143, 178, 197);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.review-content{
    margin-top: 10px;
}

.rating{
    font-weight: bold;
    color:rgb(188, 14, 14);
}

</style>
</head>
<body>
    <div class="container">
        <a href="/" style="color: #580404;"><i class=" mdi mdi-arrow-left-bold-circle-outline feather icon-edit m-t-10 f-16" style="color: #580404;"><h4>Back to Home</h4></i></a>
        <h1>Product Reviews</h1>
        {% for review in reviews %}
          
        <div class="review">
            <div class="reviewer-info">
                <img src="{% static 'assets/logo.jfif' %}" width="10px" alt="review">
                <h3>{{review.reviewer_name}}</h3>
            </div>
            <div class="review-content">
                <h2>{{review.review_text}}</h2>
                <p>Product: {{review.product}}</p>
                <div class="rating">Rating:{{review.rating}}/5</div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</body>
</html>