{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopNet</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/041ce3762b.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'assets/logo.jfif' %}" type="image/x-icon">
</head>
<style>
            /* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Global Styles*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    background-color:red;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Cards */
.card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.card h2 {
    color: #333;
    margin-bottom: 10px;
}

/* Background Image*/ 
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(new2.png);
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

.cart-button {
    background-color: #830505;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 40px;
    border-radius: 10px;
    font-weight: 500;
    width: 90px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: #fff;
    border: none;
    outline: none;
}

.cart-button:hover {
    text-decoration: none;
    color: #ffadad;
    cursor: pointer
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px
}


.dropdown:hover {
    background-color: #c60808;
}

.dropdown:hover .links {
    color: #000
}

.dropdown:hover .dropdown-menu {
    display: inherit
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #411b1b9f;
    backdrop-filter: blur(5px);
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px
}

.search-button{
    padding-top: 70px;
    /* padding-left: 800px; */
    background-color: #83050500;
}

.links {
    color: #fff;
    text-decoration: none
}

.links:hover {
    color: #af3d3d;
    text-decoration: none;
    transform: scale(1.05);
    transition: all 0.6s step-start;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #b6353589;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px
}

.profile-li {
    padding-top: 2px;
    width: 200px;
}


</style>
<body>
    <nav>
        <a href="/">
            <img src="{% static 'assets/logo.jfif' %}" width="60" alt="">
        </a>
        <div class="nav-country">
            
            <div>
                

                {% if request.user.is_authenticated %}
                <a href="/logout"><p>Please</p>
                <h1 style="transform: scale(1.03);">Logout</h1></a>
                    {% else %}
                    <a href="/admin"><p>Login as</p>
                    <h1 style="transform: scale(1.03);">Admin</h1></a>
                    {% endif %}
            </div>
        </div>
        <div class="nav-search">
            <div class="nav-search-gategory">
                <p>All</p>
                <img src="{% static 'assets/dropdown_icon.png' %}" height="12" alt="">
            </div>
            <form  action="/search" method="get">
                <input type="text" class="nav-search-input" placeholder="Search by products, category, business......." name="query" id="query">
                <button type="submit" class="search-button"><img src="{% static 'assets/search_icon.png' %}" class="nav-search-icon" alt=""></button>
            </form>
        </div>
            <li class="upper-links dropdown"><a class="links" href=""><p style="color: #000000; font-weight: bold;">More <img src="{% static 'assets/dropdown_icon.png' %}" width="8px" alt=""></p></a>
                <ul class="dropdown-menu" style="z-index:1;">
                  <li class="profile-li"><a class="profile-links" href="/send-feedback">Send Feedback</a></li>
                    <li class="profile-li"><a class="profile-links" href="/contactus">Contact Us</a></li>
                    <li class="profile-li"><a class="profile-links" href="/aboutus">About Us</a></li>
                    <li class="profile-li"><a class="profile-links" href="/terms">Terms & Conditions</a></li>
                    <li class="profile-li"><a class="profile-links" href="/faqs">FAQs</a></li>
                    <li class="profile-li"><a class="profile-links" href="/reviews">Reviews</a></li>
                </ul>
            </li>
        <div class="nav-text">
            {%if request.user.is_authenticated%}

            <a href="/my-order"><p>Check</p>
            <h1 style="transform: scale(1.03);">My orders</h1></a>
            {%else%}
            <a href="/customerlogin"><p>Hello, Please</p>
            <h1 style="transform: scale(1.03);">Log In </h1></a>
            {% endif %}
        </div>
        <div class="nav-text">
            {%if request.user.is_authenticated%}
            
            <a href="/my-profile"><p>Check</p>
            <h1 style="transform: scale(1.03);">My profile</h1></a>
              {%else%}
            <a href="/business-login"><p>Login</p>
            <h1 style="transform: scale(1.03);">As Business</h1></a>
            {% endif %}
        </div>
        <div><br><br><br></div>
        <div class="cart1 largenav col-sm-2" > <a class="cart-button" href="/cart"> <svg class="cart-svg " width="16 " height="16 " viewBox="0 0 16 16 ">
            <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#fff "></path>
        </svg> Cart <span class="item-number ">{{ product_count_in_cart }}</span>
     </a> 
    </div>
        
    </nav>


{% block content %}

{% endblock content %}
<script src="{% static 'css/script.js' %}"></script>
</body>
</html>
