<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Confirm</title>
    <!-- Add your CSS stylesheets or links here -->
</head>
<body>
    <div class="container">
        <h1>Password Reset</h1>
        <p>Please enter your new password below:</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Reset Password</button>
        </form>
        <!-- Add any additional content or links here -->
    </div>
</body>
</html>
