
{% load widget_tweaks %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="icon" href="{% static 'assets/logo.jfif' %}" type="image/x-icon">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<style media="screen">
.form-style-1 {

margin:10px auto;
max-width: 400px;
padding: 20px 12px 10px 20px;
font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
padding: 0;
display: block;
list-style: none;
margin: 10px 0 0 0;
}
.form-style-1 label{
margin:0 0 3px 0;
padding:0px;
display:block;
font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
border:1px solid #cfcece;
padding: 7px;
margin:0px;
-webkit-transition: all 0.30s ease-in-out;
-moz-transition: all 0.30s ease-in-out;
-ms-transition: all 0.30s ease-in-out;
-o-transition: all 0.30s ease-in-out;
outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
-moz-box-shadow: 0 0 8px #e98888;
-webkit-box-shadow: 0 0 8px #e98888;
box-shadow: 0 0 8px #e98888;
border: 1px solid #e98888;
}
.form-style-1 .field-divided{
width: 49%;
}

.form-style-1 .field-long{
width: 100%;
}
.form-style-1 .field-select{
width: 100%;
}
.form-style-1 .field-textarea{
height: 100px;
}
input[type=submit] .form-style-1{
background: #4B99AD;
padding: 8px 15px 8px 15px;
border: none;
color: #fff;
}
input[type=submit]:hover .form-style-1{
background: #4691A4;
box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
}
.form-style-1 .required{
color:red;
}
body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
background-image: url('{% static "images/checkout3.png" %}');
background-size: cover;

}
.form-container {
max-width: 600px;
backdrop-filter: blur(10px);
margin: 50px auto;
padding: 20px;
border: 1px solid #ecebebb2;
border-radius: 5px;
}

.form-group {
margin-bottom: 20px;
}

label {
display: block;
margin-bottom: 6px;
}

input[type="text"],
input[type="email"],
textarea {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}
button {
padding: 10px 20px;
background-color: #970303;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #42ca4d
}

.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }
</style>
<br><br><br><br>
<body>
	
	<div class="form-container ">
		<h1 style="text-align: center;"> Payment Details</h1><br><br><br>
		<form id="checkout-form" method="post">
			
            <div class="form-group">
                <label for="mobile"style="color: rgb(72, 0, 0);">CARD NUMBER</label>
                <div class="input-group">
                            <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                required autofocus />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
            </div>
			<div class="form-group">
				<label for="name"style="color: rgb(72, 0, 0);">EXPIRY DATE</label>
				<div class="col-xs-6 col-lg-6 pl-ziro">
                    <input type="text" class="form-control" id="expityMonth" placeholder="MM" required />
                </div>
                <div class="col-xs-6 col-lg-6 pl-ziro">
                    <input type="text" class="form-control" id="expityYear" placeholder="YY" required />
                </div>
			</div>
			<div class="form-group">
				<label for="email"style="color: rgb(138, 7, 7);">CV CODE</label>
				<input type="password" class="form-control" id="cvCode" placeholder="CV" required />
			</div>
			<div class="checkbox pull-right">
                <label>
                    <input type="checkbox" />
                    Remember
                </label>
            </div>
			<ul class="nav nav-pills nav-stacked">
                <li class="active" ><a href="#"><span class="badge pull-right">shs. {{total}}</span> Final Payment</a>
                </li>
            </ul>
            <br/>
            <a href="/payment-success" class="btn btn-success btn-lg btn-block" role="button" style="background: #6f2a2a;
            padding: 8px 15px 8px 15px;
            border: none;
            color: #fff;">Pay</a>
			
		<a href="/cart" style="color: #580404;"><i class=" mdi mdi-arrow-left-bold-circle-outline feather icon-edit m-t-10 f-16" style="color: #580404;"><h5>Back to Cart</h5></i></a>
		</form>
	</div>
</body>
{% endblock content %}
{% include "customer/footer.html" %}