{% include "customer/navbar.html" %}
{% load static %}

{% block content %}
<style media="screen">
  .success-page{
  max-width:300px;
  display:block;
  margin: 0 auto;
  text-align: center;
      position: relative;
    top: 50%;
    transform: perspective(1px) translateY(50%)
}
.success-page img{
  max-width:62px;
  display: block;
  margin: 0 auto;
}

.btn-view-orders{
  display: block;
  border:1px solid #800404;
  border-radius: 5px;
  width:100px;
  margin: 0 auto;
  margin-top: 45px;
  padding: 10px;
  color:#fff;
  background-color:#800404;
  text-decoration: none;
  margin-bottom: 20px;
}
h2{
  color:#ff0000;
    margin-top: 25px;

}

a{
  text-decoration: none;
}

</style>
<div class="success-page" style="top:auto;">
   <img  src="http://share.ashiknesin.com/green-checkmark.png" class="center" alt="" />
  <h2>Payment Successful !</h2>
  <p>We are delighted to inform you that your payments have been successfully sent!!</p>
  <a style="text-decoration:none;" href="/my-order" class="btn-view-orders">View Orders</a>
  <a style="text-decoration:none; color: #800404;" href="/customer-home">Continue Shopping</a>
</div>
<br><br><br><br>
<br><br><br><br>
{% endblock content %}
