<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="icon" href="{% static 'assets/logo.jfif' %}" type="image/x-icon">
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <title>Send Feedback || ShopNet</title>
<style media="screen">
  .form-style-1 {
  	margin:10px auto;
  	max-width: 400px;
  	padding: 20px 12px 10px 20px;
  	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .form-style-1 li {
  	padding: 0;
  	display: block;
  	list-style: none;
  	margin: 10px 0 0 0;
  }
  .form-style-1 label{
  	margin:0 0 3px 0;
  	padding:0px;
  	display:block;
  	font-weight: bold;
  }
  .form-style-1 input[type=text],
  .form-style-1 input[type=date],
  .form-style-1 input[type=datetime],
  .form-style-1 input[type=number],
  .form-style-1 input[type=search],
  .form-style-1 input[type=time],
  .form-style-1 input[type=url],
  .form-style-1 input[type=email],
  textarea,
  select{
  	box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	border:1px solid #BEBEBE;
  	padding: 7px;
  	margin:0px;
  	-webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;
  	outline: none;
  }
  .form-style-1 input[type=text]:focus,
  .form-style-1 input[type=date]:focus,
  .form-style-1 input[type=datetime]:focus,
  .form-style-1 input[type=number]:focus,
  .form-style-1 input[type=search]:focus,
  .form-style-1 input[type=time]:focus,
  .form-style-1 input[type=url]:focus,
  .form-style-1 input[type=email]:focus,
  .form-style-1 textarea:focus,
  .form-style-1 select:focus{
  	-moz-box-shadow: 0 0 8px #88D5E9;
  	-webkit-box-shadow: 0 0 8px #88D5E9;
  	box-shadow: 0 0 8px #88D5E9;
  	border: 1px solid #88D5E9;
  }
  .form-style-1 .field-divided{
  	width: 49%;
  }

  .form-style-1 .field-long{
  	width: 100%;
  }
  .form-style-1 .field-select{
  	width: 100%;
  }
  .form-style-1 .field-textarea{
  	height: 100px;
  }
  .form-style-1 input[type=submit], .form-style-1 input[type=button]{
  	background: #ad4b4b;
  	padding: 8px 15px 8px 15px;
  	border: none;
  	color: #fff;
  }
  .form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
  	background: #a44646;
  	box-shadow:none;
  	-moz-box-shadow:none;
  	-webkit-box-shadow:none;
  }
  .form-style-1 .required{
  	color:red;
  }
</style>

</head>
<br><br><br><br>
<body style="background-color: #f9ecec;">

    

  <center>
    <h3 class='alert alert-error'>Send Your Valuable Feedback To the ShopNet team !</h3>


    <form method="post">
      {% csrf_token %}
    <ul class="form-style-1">
        <li>
            <label>Name <span class="required">*</span></label>
            {% render_field feedbackForm.name class="field-long"  %}

        </li>

        <li>
            <label>Your Feedback <span class="required">*</span></label>
            {% render_field feedbackForm.feedback id="field5" class="field-long field-textarea"  %}

        </li>
        <li>
            <input type="submit" value="Send Feedback" />
        </li>
    </ul>
    </form>
    <a href="/" style="color: #580404;"><i class=" mdi mdi-arrow-left-bold-circle-outline feather icon-edit m-t-10 f-16" style="color: #580404;"><h6>Back to Home</h6></i></a>
  </center>
  {% include "customer/footer.html" %}
</body>


</html>
