{% load static %}

<br><br><br><br><br><br><br><br>
<!DOCTYPE html>
<html lang="en" >
<head>
  <link rel="icon" href="{% static 'assets/logo.jfif' %}" type="image/x-icon">
  <meta charset="UTF-8">
  <title>Single detail page</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  
  
</head>

<style>
    /* ----- Variables ----- */
/* ----- Global ----- */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr;
  font-family: "Raleway", sans-serif;
  background-color: #f5f5f5;
}

h3 {
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color: #a6a6a6;
}

img {
  max-width: 100%;
  filter: drop-shadow(1px 1px 3px #a6a6a6);
  height: 100%;
  width: 100%;
}

/* ----- Product Section ----- */
.product {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  margin: auto;
  padding: 2.5em 0;
  min-width: 600px;
  background-color: white;
  border-radius: 5px;
}

/* ----- Photo Section ----- */
.product__photo {
  position: relative;
}

.photo-container {
  position: absolute;
  left: -2.5em;
  display: grid;
  grid-template-rows: 1fr;
  width: 260px;
  height: 260px;
  border-radius: 6px;
  box-shadow: 4px 4px 25px -112px rgba(108, 107, 107, 0.3);
}

.photo-main {
  border-radius: 6px 6px 0 0;
  background-color: #9be010;
  background: radial-gradient(#e5f89e, #96e001);
  height: 260px;
  width: 260px;
}


/* ----- Informations Section ----- */
.product__info {
  padding: 0.8em 0;
}

.title h1 {
  margin-bottom: 0.1em;
  color: #4c4c4c;
  font-size: 1.5em;
  font-weight: 900;
}
.title span {
  font-size: 0.7em;
  color: #a6a6a6;
}

.price {
  margin: 1.5em 0;
  color: #ff3f40;
  font-size: 1.2em;
}
.price span {
  padding-left: 0.15em;
  font-size: 2.9em;
}


.description {
  clear: left;
  margin: 2em 0;
}
.description h3 {
  margin-bottom: 1em;
}
.description ul {
  font-size: 0.8em;
  list-style: disc;
  margin-left: 1em;
}
.description li {
  text-indent: -0.6em;
  margin-bottom: 0.5em;
}

.button {
  padding: 1.5em 3.1em;
  border: none;
  border-radius: 7px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: #e86e6e;
  box-shadow: 2px 2px 25px -7px #4c4c4c;
  cursor: pointer;
}
.button:active {
  transform: scale(0.97);
}

.button:hover {
  background: #ff4242;
  transition: ease-in 0.4s;
}

</style>
<body>
    <!-- partial:index.partial.html -->
    <section class="product" style="transform: scale(1.3);">
        <div class="product__photo">
            <div class="photo-container">
                <div class="photo-main">
                    <img src="{% static product.product_image.url %}" alt="green apple slice">
                </div>
                
                
            </div>
        </div>
        <div class="product__info">
            <div class="title">
                <h1>{{product.name}}</h1><br>
                <h6 style="font-weight: lighter; font-size: small; text-decoration: none;"><a href="{% url 'category' product.category.title %}">{{product.category.title}}</a></h6><br>

                Vendor:   <span style="color: #580404; font-size: large; font-weight: bolder;"> {{ product.business.user.username }}</span><br><br>
                <p><a href="{% url 'business-detail' pk=product.business.id %}">Browse {{ product.business.user.username }}'s store</a></p>
            </div>
            <div class="price">
                Shs <span>{{product.price}}</span>
            </div>
            
            <div class="description">
                <h2 style="font-weight: bold; color: #580404;">Description:</h2><br>
                <h2>{{product.description}}</h2>
                
            </div>
            <a href="{% url 'add-to-cart' product.id  %}"><button class="button">ADD TO CART</button></a>
        </div>
        <br><br><br>
        <a href="/" style="color: #580404; text-align: center; font-weight: bold;"><i class=" mdi mdi-arrow-left-bold-circle-outline feather icon-edit m-t-10 f-16" style="color: #580404; font-size: smaller;"><h6>Back to Home</h6></i></a>
        <a href="{% url 'add_review' product.id  %}" style="color: #580404; padding-left: 20px; font-weight: bold;"><i class=" mdi mdi-arrow-left-bold-circle-outline feather icon-edit m-t-10 f-16" style="color: #580404; font-size: smaller;"><h6>Check out reviews</h6></i></a>
    </section>
<br><br><br><br><br><br><br><br>
{% include "customer/footer.html" %}

</body>
</html>
